
.login-main {
    margin: 30px;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center;    /* 가로 중앙 정렬 */
}

.login-logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 245px;
}

/* 로그인 컨테이너 */
.login-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 입력 그룹 */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

/* 입력 필드 */
.input-group label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* 로그인 버튼 */
.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #0051ff;
    color: #0051ff;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #5fa6f3;
}
.additional-options {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.additional-options .link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin: 0 5px;
}

.additional-options .link:hover {
    text-decoration: underline;
}

/* 소셜 로그인 */
.social-login {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px 0 80px ;
}

.social-login button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.email-login{
    background-color: #c7c7c7;

}
.email-login:hover{
    background-color: #0a07077e;
}
.naver-login {
    background-color: #1ec800;
}

.naver-login:hover {
    background-color: #17a300;
}

.kakao-login {
    background-color: #f7e600;
    color: black;
}

.kakao-login:hover {
    background-color: #d7c200;
}